*{
  box-sizing:border-box;
  margin-left:50px;
  margin:2px;
  padding:2px;
  font-family: 'montserrat',Courier, monospace;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .card-container { 
    background-size:10px;
    width: 330px;
    margin: 20px;
    background-color: rgb(236, 238, 237);
    border: 1px solid #252222; 
  }
  
  .product-compount1{
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
  }

  .product-compount2{
    margin: 5px;
    padding: 5px;
    margin-left: 20px;
  }

  .product-compount3{
    margin: 5px;
    padding: 5px;
    margin-left: 40px;
  }

 
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*  font-weight: <weight>;
  font-style: normal;*/
} 


.card-container2 { 
    background-size:10px;
    width: 330px;
    margin: 20px;
    background-color: rgb(238, 236, 236);
    border: 1px solid #252222; 
  }
  
  
  
  .product-compount1{
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
  }

  .product-compount2{
    margin: 5px;
    padding: 5px;
    margin-left: 20px;
  }

  .product-compount3{
    margin: 5px;
    padding: 5px;
    margin-left: 40px;
  }

 
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*  font-weight: <weight>;
  font-style: normal;*/
} 


.card-container3 { 
    background-size:10px;
    width: 330px;
    margin: 20px;
    background-color: rgb(238, 236, 236);
    border: 1px solid #252222; 
  }
  
  
  
  .product-compount1{
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
 }

  .product-compount2{
    margin: 5px;
    padding: 5px;
    margin-left: 20px;
 }

  .product-compount3{
    margin: 5px;
    padding: 5px;
    margin-left: 40px;
 }

 
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
 /* font-weight: <weight>;
  font-style: normal;*/
} 

.card-container4 { 
    background-size:10px;
    width: 330px;
    margin: 20px;
    background-color: rgb(238, 236, 236);
    border: 1px solid #252222; 
  }
  
  
  
  .product-compount1{
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
  }

  .product-compount2{
    margin: 5px;
    padding: 5px;
    margin-left: 20px;
  }

  .product-compount3{
    margin: 5px;
    padding: 5px;
    margin-left: 40px;
    
  }

 
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
/*  font-weight: <weight>;
  font-style: normal;*/
} 

.card-container5 { 
    background-size:10px;
    width: 330px;
    margin: 20px;
    background-color: rgb(238, 236, 236);
    border: 1px solid #252222; 
  }
  
  
  
  .product-compount1{
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
  }

  .product-compount2{
    margin: 5px;
    padding: 5px;
    margin-left: 20px;
  }

  .product-compount3{
    margin: 5px;
    padding: 5px;
    margin-left: 40px;
  }

 
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
} 

.bg-flowers {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: -1; 
  background-size:790px;
  background-image: url('maket1-mys\bg 1.png');
  background-repeat:no-repeat;
}

.card-background {
    background-image: url("/images/background_dandelion.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 138px;
    z-index: -1;
    background-size: 790px 697px;
    
}

.change-color-red {
    background-color: rgb(98, 255, 0);
    color: #ffffff;
}

.change-color-green {
    background-color: green;
    color: rgb(255, 255, 255);
}





